li {
    display: block;
    height: 100%;
}
.system-views {
    display: flex;
    flex-direction: row;
}
.main-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.first-column {
    margin-top: 1em;
    display: flex;
    width: 60%;
    flex-direction: column;
}
.second-column {
    display: flex;
    width: 40%;
}

.second-column > div {
    width: 100%;
}
.label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    margin-top: 4px;
}
.value {
    padding-left: 24px;
    font-size: 16px;
    line-height: 20px;
}
.rstm-tree-item--active {
    background-color: #135b55 !important;
}
.rstm-tree-item:hover {
    box-shadow: 0 0 5px 0 #222;
    z-index: 999;
}
.tree {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
}
.rstm-tree-item {
    transition: all 0.5s ease;
}